@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.sign {
     font-family: 'Poppins', sans-serif;
     background-color: #f0faff;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .sign form {
     background-color:#7EB6F9;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     width: 350px;
 }

 .sign form label {
     font-size: 20px;
     display: block;
     margin-bottom: 8px;
 }

 .sign form input {
    background-color: #CCE2FD;
     font-size: 20px;
     width: 100%;
     padding: 8px;
     margin-bottom: 16px;
     box-sizing: border-box;
     border: 1px solid #ccc;
     border-radius: 4px;
     transition: 0.2s;
 }

 .sign form button {
     font-size: 23.5px;
     background-color: #197CF5;
     color: #fff;
     padding: 10px 110.6px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     transition: 0.3s;
 }

 .sign form button:hover {
     background-color: #0963D2;
 }